.projects-list-container {
    position: absolute;
    z-index: 10;
    left: 20px;
    top: 120px;
    width: 30vw;
    max-height: 77vh;
    overflow: auto;
    background-color: #006400;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 1.25em;
    padding: 20px;
    font-weight: 600;
}

.system {
    border: 2px solid white;
    border-bottom: 0;
    display: flex;
    justify-content: space-around;
}

.system:last-child {
    border-bottom: 2px solid white;
}

.system span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.depletion {
    font-size: 15px;
}